<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/main.css">
    <title>Mini-App</title>
</head>
<body>
    <h1 hidden>Mini Cooper Main Page</h1>

    <header class="header">
        <div id="logo">
            <img src="Images/Logos/logo-mobile.svg" alt="logo">
        </div>

        <div class="navigation">
        <div class="main-nav">
            <a href="#">Electric</a>
            <a href="#">3 Door</a>
            <a href="#">5 Door</a>
            <a href="#">Convertible</a>
        </div>

        <div class="end-nav">
            <div>
            <a href="#">Shop Now</a>
        </div>
            
            <div class="hamburger">
                <div class="hm line1"></div>
                <div class="hm line2"></div>
                <div class="hm line3"></div>
            </div>
        </div>
    </header>

    <!--<div id="header-video">
        <video src="Videos/Header-Videos/HV-mobile" alt="header video"></video>
    </div>-->

    <main id="app">
        <minilb @closelb="this.showLightBox=false" v-if="showLightBox" :mini="lightboxData"></minilb>
        <nav id="carID">
            <ul id="car-img">
            <minithumb @loadlb="loadLightBox" v-for="mini in miniData" :mini="mini"></minithumb>
        </ul>
        </nav>
        <minilb @closelb="this.showLightBox"false v-if="showLightBox"></minilb>
    </main>

    <h2 class="tagline">Discover the fun in functionality</h2>

   <!--<div id="footer-video">
        <video src="Videos/Footer-Videos/FV-Mobile" alt-="footer-video"></video>
    </div>-->

    <section class="submission-form">

        <!--add the name and email colums, and submit button-->
    </section>

    <footer class="footer">
        <h2 class="footer">Site-footer</h2>
        <img src="Images/Logos/logo-mobile.svg" alt="footer-logo">
        <h3 class="credit">Mini Cooper Credit</h3>  <!--refer the actual website footer-->
    </footer>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="JS/main.js" type="module" defer></script>
</body>
</html>