@media screen and (min-width: 1280px){

    .hamburger{
        display: none;
    }


    .navigation{
        display: block;
    }
    .main-nav{
        color: $main-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50%;
        margin-top: -4rem;
        margin-right: 5%;
    }
    .main-nav a{
        font-size:2rem;
        margin-left: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(97, 120, 214);
    }

    .main-nav a:hover{
        color:rgb(210, 210, 0);
    }
    .header img{
        width:10%;
        height: auto;
        margin-left: 2rem;
    }

    .header-img img{
        width:100%;
        height: auto;
        margin-top: 3rem;
    }

    //text

    .mini-innovation{
        text-align: center;
        margin: 7rem 5rem;

        h2{
            font-size:2rem;
            margin-top: 1rem;
        }

        h3{
            font-size: 3.5rem;
            margin: 1rem .5rem;
        }

        p{
            font-size: 1.5rem;
            margin: .5rem 15rem;
        }
    }

    //text end

    //vue thumb

    #car-img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
    }
    .mini-thumb-display{
        display: block;
    }
    .mini-thumb-display img{
        display: block;
        margin: auto;
        width:100%;
        height:auto;
    }

    .car-intro{
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
    }

    //end vue

    //lightbox

    .lightbox{
        background-color: rgba(71, 71, 71, 0.846);
        border: 3px solid rgba(82, 82, 85, 0.542);
        top: 5%;
        left: 1%;
        right: 1%;
        z-index: 1002;
        overflow: auto;
        position: fixed;
        padding: 8rem 2rem;

        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }

    .lightbox h2{
        font-size: 2.5rem;
        font-weight: bold;
        margin: 2em;
        text-align: center;
        color: white;
    }
    .lightbox h3{
        font-size: 2rem;
        font-weight: 400;
        margin: 1em;
        text-align: center;
        color: white;
    }
    #lbImg{
        width: 100%;
        margin-left: -5rem;
    }

    //end light box


    .tagline{
        font-size: 2.5rem;
        background-color: rgba(238, 238, 24, 0.54);
        padding: 2rem;
        margin: 4rem 0rem;
    }

    .get-to-know{

     h3{
        text-align: left;
        margin-left: 40rem;
        font-size: x-large;
        color: white;
    }

    P{
        text-align:center;
        color: white;
        font-size: larger;
    }
    }

    #contact-form{
        margin:1rem 40rem;
    }

    #firstname{
        height: 4rem;
        box-shadow: 5px 3px rgb(0, 18, 136);
        margin-bottom: 1.5rem;
        width:56rem;
    }
    
    #email{
        height: 4rem;
        box-shadow: 5px 3px rgb(0, 18, 136);
        margin-bottom: 1.5rem;
        width:56rem;
    }
    
    .submit{
        height: 4rem;
        width: 12rem;
        background-color:rgb(151, 161, 255);
        box-shadow: 5px 3px rgb(66, 88, 230);
    }

    .shop-opt{
        display: flex !important;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .shop-opt a{
        padding: 2rem;
        font-size: 1rem;
    }

    .shop-opt a:hover{
        background-color: rgb(235, 237, 115);
        color: black;
    }


    video{
        height:auto;
        width: 50%;
        border: 5px solid rgb(193, 212, 20);
        display: block;
        margin: auto;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5rem 20rem 1rem 20rem;
        font-size: 1.5rem;

        text-decoration: underline rgb(85, 85, 238);
    }

    .footer img{
        display: block;
        margin: auto;
        width: 8%;
        height: auto;
    }


    //gallery
    .three-items{
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery{
        margin-left: 2.5rem;
        margin-bottom:4rem ;
        img{
            width:90%;
            height: auto;
            border: 5px solid yellow;
        }

        img:hover{
            opacity: 70%;
        }
    }

    //end gallery

}